In [1]:
import pandas as pd
import numpy as np
import requests
from pandas.io.json import json_normalize
from flatten_json import flatten
from datetime import date

# Requesting data

# Santiago - CL

In [2]:
begin = date(2020,3,1)
end = date(2020,3,31)

api_string = "https://api.openaq.org/v1/measurements?city={city}&parameter={measure}&date_from={fromdate}&date_to={todate}&limit=5000"
city = "Santiago"
measure = "o3"

response = requests.get(api_string.format(city=city,measure=measure,fromdate=begin,todate=end)).json()
response

dic_flatten = [flatten(d) for d in response['results']]
dic_flatten
santiago_3 = pd.DataFrame(dic_flatten).reset_index()
santiago_3.head()
santiago_3.shape

(629, 11)

In [3]:
# Feb
begin = date(2020,2,1)
end = date(2020,2,29)

api_string = "https://api.openaq.org/v1/measurements?city={city}&parameter={measure}&date_from={fromdate}&date_to={todate}&limit=5000"
city = "Santiago"
measure = "o3"

response = requests.get(api_string.format(city=city,measure=measure,fromdate=begin,todate=end)).json()
response

dic_flatten = [flatten(d) for d in response['results']]
dic_flatten
santiago_2 = pd.DataFrame(dic_flatten).reset_index()
santiago_2.head()
# santiago_2.shape

,index,city,coordinates_latitude,coordinates_longitude,country,date_local,date_utc,location,parameter,unit,value
0,0,Santiago,-33.464142,-70.660797,CL,2020-02-28T21:00:00-03:00,2020-02-29T00:00:00.000Z,Parque O'Higgins,o3,µg/m³,10.59
1,1,Santiago,-33.464142,-70.660797,CL,2020-02-28T10:00:00-03:00,2020-02-28T13:00:00.000Z,Parque O'Higgins,o3,µg/m³,10.59
2,2,Santiago,-33.464142,-70.660797,CL,2020-02-28T09:00:00-03:00,2020-02-28T12:00:00.000Z,Parque O'Higgins,o3,µg/m³,10.59
3,3,Santiago,-33.464142,-70.660797,CL,2020-02-28T08:00:00-03:00,2020-02-28T11:00:00.000Z,Parque O'Higgins,o3,µg/m³,10.59
4,4,Santiago,-33.464142,-70.660797,CL,2020-02-28T07:00:00-03:00,2020-02-28T10:00:00.000Z,Parque O'Higgins,o3,µg/m³,10.59

## Madrid - ES

In [4]:
# Madrid
begin = date(2020,3,1)
end = date(2020,3,31)

api_string = "https://api.openaq.org/v1/measurements?city={city}&parameter={measure}&date_from={fromdate}&date_to={todate}&limit=5000"
city = "Madrid"
measure = "o3"

response = requests.get(api_string.format(city=city,measure=measure,fromdate=begin,todate=end)).json()
response

dic_flatten = [flatten(d) for d in response['results']]
dic_flatten
madrid_3 = pd.DataFrame(dic_flatten).reset_index()
madrid_3.head()

,index,city,coordinates_latitude,coordinates_longitude,country,date_local,date_utc,location,parameter,unit,value
0,0,Madrid,40.35853,-3.54414,ES,2020-03-30T03:00:00+02:00,2020-03-30T01:00:00.000Z,ES1807A,o3,µg/m³,76.0
1,1,Madrid,40.18528,-3.67972,ES,2020-03-30T03:00:00+02:00,2020-03-30T01:00:00.000Z,ES1809A,o3,µg/m³,70.0
2,2,Madrid,40.78083,-3.70250,ES,2020-03-30T03:00:00+02:00,2020-03-30T01:00:00.000Z,ES1805A,o3,µg/m³,76.0
3,3,Madrid,40.25194,-4.27472,ES,2020-03-30T03:00:00+02:00,2020-03-30T01:00:00.000Z,ES1810A,o3,µg/m³,61.0
4,4,Madrid,40.43000,-3.54583,ES,2020-03-30T03:00:00+02:00,2020-03-30T01:00:00.000Z,ES1869A,o3,µg/m³,73.0

In [5]:
madrid_3.shape

(5000, 11)

In [6]:
# Fevereiro
begin = date(2020,2,1)
end = date(2020,2,29)

api_string = "https://api.openaq.org/v1/measurements?city={city}&parameter={measure}&date_from={fromdate}&date_to={todate}&limit=5000"
city = "Madrid"
measure = "o3"

response = requests.get(api_string.format(city=city,measure=measure,fromdate=begin,todate=end)).json()
response

dic_flatten = [flatten(d) for d in response['results']]
dic_flatten
madrid_2 = pd.DataFrame(dic_flatten).reset_index()
madrid_2.head()

,index,city,coordinates_latitude,coordinates_longitude,country,date_local,date_utc,location,parameter,unit,value
0,0,Madrid,40.324170,-3.876390,ES,2020-02-29T01:00:00+01:00,2020-02-29T00:00:00.000Z,ES1568A,o3,µg/m³,25.00
1,1,Madrid,40.440000,-3.639167,ES,2020-02-29T01:00:00+01:00,2020-02-29T00:00:00.000Z,ES0124A,o3,µg/m³,1.08
2,2,Madrid,40.251940,-4.274720,ES,2020-02-29T01:00:00+01:00,2020-02-29T00:00:00.000Z,ES1810A,o3,µg/m³,19.00
3,3,Madrid,40.281110,-3.801670,ES,2020-02-29T01:00:00+01:00,2020-02-29T00:00:00.000Z,ES1565A,o3,µg/m³,13.00
4,4,Madrid,40.372778,-3.611944,ES,2020-02-29T01:00:00+01:00,2020-02-29T00:00:00.000Z,ES1941A,o3,µg/m³,20.84

In [7]:
madrid_2.shape

(5000, 11)

## Dheli - India

In [9]:
begin = date(2020,3,1)
end = date(2020,3,31)

api_string = "https://api.openaq.org/v1/measurements?city={city}&parameter={measure}&date_from={fromdate}&date_to={todate}&limit=5000"
city = "Delhi"
measure = "o3"

response = requests.get(api_string.format(city=city,measure=measure,fromdate=begin,todate=end)).json()
response

dic_flatten = [flatten(d) for d in response['results']]
dic_flatten
dheli_3 = pd.DataFrame(dic_flatten).reset_index()
dheli_3.head()
dheli_3.shape

(5000, 11)

In [10]:
begin = date(2020,2,1)
end = date(2020,2,29)

api_string = "https://api.openaq.org/v1/measurements?city={city}&parameter={measure}&date_from={fromdate}&date_to={todate}&limit=5000"
city = "Delhi"
measure = "o3"

response = requests.get(api_string.format(city=city,measure=measure,fromdate=begin,todate=end)).json()
response

dic_flatten = [flatten(d) for d in response['results']]
dic_flatten
dheli_2 = pd.DataFrame(dic_flatten).reset_index()
dheli_2.head()
dheli_2.shape

(5000, 11)

## Lisbon - PT

In [12]:
begin = date(2020,3,1)
end = date(2020,3,31)

api_string = "https://api.openaq.org/v1/measurements?city={city}&parameter={measure}&date_from={fromdate}&date_to={todate}&limit=5000"
city = "Lisboa"
measure = "o3"

response = requests.get(api_string.format(city=city,measure=measure,fromdate=begin,todate=end)).json()
response

dic_flatten = [flatten(d) for d in response['results']]
dic_flatten
lisbon_3 = pd.DataFrame(dic_flatten).reset_index()
lisbon_3.head()
lisbon_3.shape

(5000, 11)

In [13]:
begin = date(2020,2,1)
end = date(2020,2,29)

api_string = "https://api.openaq.org/v1/measurements?city={city}&parameter={measure}&date_from={fromdate}&date_to={todate}&limit=5000"
city = "Lisboa"
measure = "o3"

response = requests.get(api_string.format(city=city,measure=measure,fromdate=begin,todate=end)).json()
response

dic_flatten = [flatten(d) for d in response['results']]
dic_flatten
lisbon_2 = pd.DataFrame(dic_flatten).reset_index()
lisbon_2.head()
lisbon_2.shape

(5000, 11)

## New York - US

In [15]:
begin = date(2020,2,1)
end = date(2020,2,29)

api_string = "https://api.openaq.org/v1/measurements?city={city}&parameter={measure}&date_from={fromdate}&date_to={todate}&limit=5000"
city = "New York-Northern New Jersey-Long Island"
measure = "o3"

response = requests.get(api_string.format(city=city,measure=measure,fromdate=begin,todate=end)).json()
response

dic_flatten = [flatten(d) for d in response['results']]
dic_flatten
new_york_2 = pd.DataFrame(dic_flatten).reset_index()
new_york_2.head()
# new_york_2.shape

,index,city,coordinates_latitude,coordinates_longitude,country,date_local,date_utc,location,parameter,unit,value
0,0,New York-Northern New Jersey-Long Island,40.827800,-73.057500,US,2020-02-28T19:00:00-05:00,2020-02-29T00:00:00.000Z,Holtsville,o3,ppm,0.027
1,1,New York-Northern New Jersey-Long Island,40.787628,-74.676300,US,2020-02-28T19:00:00-05:00,2020-02-29T00:00:00.000Z,Chester,o3,ppm,0.039
2,2,New York-Northern New Jersey-Long Island,40.064846,-74.444061,US,2020-02-28T19:00:00-05:00,2020-02-29T00:00:00.000Z,Colliers Mills,o3,ppm,0.031
3,3,New York-Northern New Jersey-Long Island,41.058617,-74.255547,US,2020-02-28T19:00:00-05:00,2020-02-29T00:00:00.000Z,Ramapo,o3,ppm,0.039
4,4,New York-Northern New Jersey-Long Island,40.816101,-73.902199,US,2020-02-28T19:00:00-05:00,2020-02-29T00:00:00.000Z,Bronx - IS52,o3,ppm,0.024

In [16]:
begin = date(2020,3,1)
end = date(2020,3,31)

api_string = "https://api.openaq.org/v1/measurements?city={city}&parameter={measure}&date_from={fromdate}&date_to={todate}&limit=5000"
city = "New York-Northern New Jersey-Long Island"
measure = "o3"

response = requests.get(api_string.format(city=city,measure=measure,fromdate=begin,todate=end)).json()
response

dic_flatten = [flatten(d) for d in response['results']]
dic_flatten
new_york_3 = pd.DataFrame(dic_flatten).reset_index()
new_york_3.head()

,index,city,coordinates_latitude,coordinates_longitude,country,date_local,date_utc,location,parameter,unit,value
0,0,New York-Northern New Jersey-Long Island,40.515251,-74.806755,US,2020-03-30T19:00:00-05:00,2020-03-31T00:00:00.000Z,Flemington,o3,ppm,0.013
1,1,New York-Northern New Jersey-Long Island,40.720989,-74.192894,US,2020-03-30T19:00:00-05:00,2020-03-31T00:00:00.000Z,Newark Firehouse,o3,ppm,0.020
2,2,New York-Northern New Jersey-Long Island,40.787628,-74.676300,US,2020-03-30T19:00:00-05:00,2020-03-31T00:00:00.000Z,Chester,o3,ppm,0.014
3,3,New York-Northern New Jersey-Long Island,41.058617,-74.255547,US,2020-03-30T19:00:00-05:00,2020-03-31T00:00:00.000Z,Ramapo,o3,ppm,0.018
4,4,New York-Northern New Jersey-Long Island,40.462181,-74.429436,US,2020-03-30T19:00:00-05:00,2020-03-31T00:00:00.000Z,Rutgers University,o3,ppm,0.027

In [17]:
new_york = pd.concat([new_york_3, new_york_2])
new_york.shape
new_york = new_york.apply(lambda x: x*1000 if x.name in ['value'] else x)
new_york.head()

,index,city,coordinates_latitude,coordinates_longitude,country,date_local,date_utc,location,parameter,unit,value
0,0,New York-Northern New Jersey-Long Island,40.515251,-74.806755,US,2020-03-30T19:00:00-05:00,2020-03-31T00:00:00.000Z,Flemington,o3,ppm,13.0
1,1,New York-Northern New Jersey-Long Island,40.720989,-74.192894,US,2020-03-30T19:00:00-05:00,2020-03-31T00:00:00.000Z,Newark Firehouse,o3,ppm,20.0
2,2,New York-Northern New Jersey-Long Island,40.787628,-74.676300,US,2020-03-30T19:00:00-05:00,2020-03-31T00:00:00.000Z,Chester,o3,ppm,14.0
3,3,New York-Northern New Jersey-Long Island,41.058617,-74.255547,US,2020-03-30T19:00:00-05:00,2020-03-31T00:00:00.000Z,Ramapo,o3,ppm,18.0
4,4,New York-Northern New Jersey-Long Island,40.462181,-74.429436,US,2020-03-30T19:00:00-05:00,2020-03-31T00:00:00.000Z,Rutgers University,o3,ppm,27.0

In [40]:
# new_york['unit'] = data['unit'].str.replace('ppm', 'µg/m³')

## Concateneting

In [18]:
data = pd.concat([madrid_3,madrid_2, dheli_3, dheli_2, lisbon_3, lisbon_2, santiago_2, santiago_3, new_york])

In [19]:
data.shape

# data.loc[[city] == 'New York-Northern New Jersey-Long Island']

(41137, 11)

In [20]:
# saving
data.to_csv('data/openaq_o3.csv')