In [2]:
import pandas as pd
import numpy as np
import requests
from pandas.io.json import json_normalize
from flatten_json import flatten
from datetime import date

# Requesting data

# Santiago - CL

In [ ]:
begin = date(2020,3,1)
end = date(2020,3,31)

api_string = "https://api.openaq.org/v1/measurements?city={city}&parameter={measure}&date_from={fromdate}&date_to={todate}&limit=5000"
city = "Santiago"
measure = "no2"

response = requests.get(api_string.format(city=city,measure=measure,fromdate=begin,todate=end)).json()
response

dic_flatten = [flatten(d) for d in response['results']]
dic_flatten
santiago_3 = pd.DataFrame(dic_flatten).reset_index()
santiago_3.head()
santiago_3.shape

In [ ]:
# Feb
begin = date(2020,2,1)
end = date(2020,2,29)

api_string = "https://api.openaq.org/v1/measurements?city={city}&parameter={measure}&date_from={fromdate}&date_to={todate}&limit=5000"
city = "Santiago"
measure = "no2"

response = requests.get(api_string.format(city=city,measure=measure,fromdate=begin,todate=end)).json()
response

dic_flatten = [flatten(d) for d in response['results']]
dic_flatten
santiago_2 = pd.DataFrame(dic_flatten).reset_index()
santiago_2.head()
# santiago_2.shape

## Madrid - ES

In [ ]:
# Madrid
begin = date(2020,3,1)
end = date(2020,3,31)

api_string = "https://api.openaq.org/v1/measurements?city={city}&parameter={measure}&date_from={fromdate}&date_to={todate}&limit=5000"
city = "Madrid"
measure = "no2"

response = requests.get(api_string.format(city=city,measure=measure,fromdate=begin,todate=end)).json()
response

dic_flatten = [flatten(d) for d in response['results']]
dic_flatten
madrid_3 = pd.DataFrame(dic_flatten).reset_index()
madrid_3.head()

In [ ]:
madrid_3.shape

In [ ]:
# Fevereiro
begin = date(2020,2,1)
end = date(2020,2,29)

api_string = "https://api.openaq.org/v1/measurements?city={city}&parameter={measure}&date_from={fromdate}&date_to={todate}&limit=5000"
city = "Madrid"
measure = "no2"

response = requests.get(api_string.format(city=city,measure=measure,fromdate=begin,todate=end)).json()
response

dic_flatten = [flatten(d) for d in response['results']]
dic_flatten
madrid_2 = pd.DataFrame(dic_flatten).reset_index()
madrid_2.head()

In [ ]:
madrid_2.shape

## Dheli - India

In [ ]:
begin = date(2020,3,1)
end = date(2020,3,31)

api_string = "https://api.openaq.org/v1/measurements?city={city}&parameter={measure}&date_from={fromdate}&date_to={todate}&limit=5000"
city = "Delhi"
measure = "no2"

response = requests.get(api_string.format(city=city,measure=measure,fromdate=begin,todate=end)).json()
response

dic_flatten = [flatten(d) for d in response['results']]
dic_flatten
dheli_3 = pd.DataFrame(dic_flatten).reset_index()
dheli_3.head()

In [ ]:
begin = date(2020,2,1)
end = date(2020,2,29)

api_string = "https://api.openaq.org/v1/measurements?city={city}&parameter={measure}&date_from={fromdate}&date_to={todate}&limit=5000"
city = "Delhi"
measure = "no2"

response = requests.get(api_string.format(city=city,measure=measure,fromdate=begin,todate=end)).json()
response

dic_flatten = [flatten(d) for d in response['results']]
dic_flatten
dheli_2 = pd.DataFrame(dic_flatten).reset_index()
dheli_2.head()

## Lisbon - PT

In [5]:
begin = date(2020,3,1)
end = date(2020,3,31)

api_string = "https://api.openaq.org/v1/measurements?city={city}&parameter={measure}&date_from={fromdate}&date_to={todate}&limit=5000"
city = "Lisboa"
measure = "no2"

response = requests.get(api_string.format(city=city,measure=measure,fromdate=begin,todate=end)).json()
response

dic_flatten = [flatten(d) for d in response['results']]
dic_flatten
lisbon_3 = pd.DataFrame(dic_flatten).reset_index()
lisbon_3.head()

,index,city,coordinates_latitude,coordinates_longitude,country,date_local,date_utc,location,parameter,unit,value
0,0,Lisboa,38.748611,-9.148889,PT,2020-03-31T01:00:00+01:00,2020-03-31T00:00:00.000Z,PT03072,no2,µg/m³,5.1
1,1,Lisboa,38.705000,-9.210278,PT,2020-03-31T01:00:00+01:00,2020-03-31T00:00:00.000Z,PT03087,no2,µg/m³,7.1
2,2,Lisboa,38.785000,-9.347222,PT,2020-03-31T01:00:00+01:00,2020-03-31T00:00:00.000Z,PT03089,no2,µg/m³,3.5
3,3,Lisboa,38.896111,-9.040278,PT,2020-03-31T01:00:00+01:00,2020-03-31T00:00:00.000Z,PT03101,no2,µg/m³,4.5
4,4,Lisboa,38.894722,-9.117500,PT,2020-03-31T01:00:00+01:00,2020-03-31T00:00:00.000Z,PT03070,no2,µg/m³,2.6

In [4]:
begin = date(2020,2,1)
end = date(2020,2,29)

api_string = "https://api.openaq.org/v1/measurements?city={city}&parameter={measure}&date_from={fromdate}&date_to={todate}&limit=5000"
city = "Lisboa"
measure = "no2"

response = requests.get(api_string.format(city=city,measure=measure,fromdate=begin,todate=end)).json()
response

dic_flatten = [flatten(d) for d in response['results']]
dic_flatten
lisbon_2 = pd.DataFrame(dic_flatten).reset_index()
lisbon_2.head()

,index,city,coordinates_latitude,coordinates_longitude,country,date_local,date_utc,location,parameter,unit,value
0,0,Lisboa,38.896111,-9.040278,PT,2020-02-29T00:00:00+00:00,2020-02-29T00:00:00.000Z,PT03101,no2,µg/m³,56.0
1,1,Lisboa,38.748611,-9.148889,PT,2020-02-29T00:00:00+00:00,2020-02-29T00:00:00.000Z,PT03072,no2,µg/m³,63.4
2,2,Lisboa,38.802222,-9.182222,PT,2020-02-29T00:00:00+00:00,2020-02-29T00:00:00.000Z,PT03097,no2,µg/m³,29.9
3,3,Lisboa,38.894722,-9.117500,PT,2020-02-29T00:00:00+00:00,2020-02-29T00:00:00.000Z,PT03070,no2,µg/m³,20.2
4,4,Lisboa,38.720278,-9.145833,PT,2020-02-29T00:00:00+00:00,2020-02-29T00:00:00.000Z,PT03075,no2,µg/m³,43.1

## New York - US

In [ ]:
begin = date(2020,2,1)
end = date(2020,2,29)

api_string = "https://api.openaq.org/v1/measurements?city={city}&parameter={measure}&date_from={fromdate}&date_to={todate}&limit=5000"
city = "New York-Northern New Jersey-Long Island"
measure = "no2"

response = requests.get(api_string.format(city=city,measure=measure,fromdate=begin,todate=end)).json()
response

dic_flatten = [flatten(d) for d in response['results']]
dic_flatten
new_york_2 = pd.DataFrame(dic_flatten).reset_index()
new_york_2.head()
new_york_2.shape

In [ ]:
begin = date(2020,3,1)
end = date(2020,3,31)

api_string = "https://api.openaq.org/v1/measurements?city={city}&parameter={measure}&date_from={fromdate}&date_to={todate}&limit=5000"
city = "New York-Northern New Jersey-Long Island"
measure = "no2"

response = requests.get(api_string.format(city=city,measure=measure,fromdate=begin,todate=end)).json()
response

dic_flatten = [flatten(d) for d in response['results']]
dic_flatten
new_york_3 = pd.DataFrame(dic_flatten).reset_index()
new_york_3.head()
new_york_3.shape

## Concateneting

In [ ]:
data = pd.concat([madrid_3,madrid_2, dheli_2003, dheli_2002, lisbon_2003, lisbon_2002, santiago_2, santiago_3, new_york_3, new_york_2])

In [ ]:
data.shape